@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-skill-carousel {
    animation: skill-carousel 30s linear infinite;
  }

  .animate-skill-carousel:hover {
    animation-play-state: paused;
  }

  @keyframes skill-carousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
